<form [formGroup]="subCourseForm" (ngSubmit)="onSubmit()" class="p-fluid">
  <div class="p-field">
    <div class="input-flex">
      <label for="name">Subcourse Name</label>
      <input pInputText id="name" formControlName="name" />
    </div>
    <small *ngIf="submitted && subCourseForm.get('name')?.errors?.['required']"
           class="p-error">Subcourse name is required</small>
  </div>

  <div class="p-field">
    <div class="input-flex">
      <label for="startDate">Start Date</label>
      <p-calendar
        id="startDate"
        formControlName="startDate"
        [showIcon]="true"
        dateFormat="yy-mm-dd"
        [showButtonBar]="true">
      </p-calendar>
    </div>
    <small *ngIf="submitted && subCourseForm.get('startDate')?.errors?.['required']"
           class="p-error">Start date is required</small>
  </div>

  <div class="p-field">
    <div class="input-flex">
      <label for="endDate">End Date</label>
      <p-calendar
        id="endDate"
        formControlName="endDate"
        [showIcon]="true"
        dateFormat="yy-mm-dd"
        [showButtonBar]="true">
      </p-calendar>
    </div>
    <small *ngIf="submitted && subCourseForm.get('endDate')?.errors?.['required']"
           class="p-error">End date is required</small>
  </div>


  <div *ngIf="submitted && subCourseForm.errors?.['startBeforeParent']" class="p-error">
    Start date cannot be before parent course start date ({{ parentCourse.startDate | date }})
  </div>
  <div *ngIf="submitted && subCourseForm.errors?.['endAfterParent']" class="p-error">
    End date cannot be after parent course end date ({{ parentCourse.endDate | date }})
  </div>

  <div class="p-d-flex p-jc-end p-mt-3">
    <button pButton type="button" label="Cancel" class="p-button-text" (click)="ref.close()"></button>
    <button pButton type="submit" label="Save" class="p-button-raised p-ml-2"></button>
  </div>
</form>