.table-header{
  border-bottom:3px solid #20a373;
  border-top:3px solid #20a373;
}

.add-button{
  display: flex;
  justify-content: end;
  padding: 8px;

}


.delete-button{
  color: red;
}

.delete-button:hover{
  color: rgb(208, 5, 5);
}

.add-sub-button{
  color: lightskyblue;
}

.add-sub-button:hover{
  color: rgb(68, 122, 156);
}