<div class="p-fluid">
  <form [formGroup]="subCourseForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <div class="input-flex">
        <label for="name">Subcourse Name</label>
        <input pInputText id="name" formControlName="name" />
      </div>
      <small *ngIf="submitted && subCourseForm.get('name')?.errors?.['required']"
        class="p-error">Name is required</small>
    </div>

    <div class="p-field">
      <div class="input-flex">
        <label for="startDate">Start Date</label>
        <p-calendar id="startDate" formControlName="startDate"
          [showIcon]="true"></p-calendar>
      </div>
      <small *ngIf="submitted && subCourseForm.get('startDate')?.errors?.['required']"
        class="p-error">Start date is required</small>
      <small *ngIf="submitted && subCourseForm.get('startDate')?.errors?.['minDate']"
        class="p-error">Start date cannot be before parent course start date</small>
      <small *ngIf="submitted && subCourseForm.get('startDate')?.errors?.['maxDate']"
        class="p-error">Start date cannot be after parent course end date</small>
    </div>

    <div class="p-field">
      <div class="input-flex">
        <label for="endDate">End Date</label>
        <p-calendar id="endDate" formControlName="endDate"
          [showIcon]="true"></p-calendar>
      </div>
      <small *ngIf="submitted && subCourseForm.get('endDate')?.errors?.['required']"
        class="p-error">End date is required</small>
      <small *ngIf="submitted && subCourseForm.get('endDate')?.errors?.['minDate']"
        class="p-error">End date must be after start date</small>
      <small *ngIf="submitted && subCourseForm.get('endDate')?.errors?.['maxDate']"
        class="p-error">End date cannot be after parent course end date</small>
      <small *ngIf="submitted && subCourseForm.errors?.['dateError']"
        class="p-error">End date must be after start date</small>
    </div>

    <div class="p-d-flex p-jc-end p-mt-3">
      <button pButton type="button" label="Cancel" class="p-button-text"
        (click)="ref.close()"></button>
      <button pButton type="submit" label="Save" class="p-ml-2"></button>
    </div>
  </form>
</div>