.bg-sub-color {
  background-color: #000000;
  color: rgb(255, 255, 255);
}


.subcourse-row td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #0068cf;
}


.bg-sub-header-color{
  background-color: #8f97a6;
  color: black;
}

.edit-button{
  color: lightskyblue;
  cursor: pointer;
  font-weight: bold;
}
.edit-button:hover{
  color: rgb(7, 94, 255);
  cursor: pointer;
  font-weight: bold;

}


.delete-button{
color: red;
cursor: pointer;
}

.delete-button:hover{
  color: rgb(220, 3, 3);
  cursor: pointer;
  }
